body{
  background-color: #cfe1ff;
  color: black;
  font-family: Helvetica;
}

h1{
  font-size:60pt;
}

h2{
  font-size:60pt;
  color:#434744;
}

button{
  background-color: #cfe1ff;
  border:2px solid yellow;
  color: yellow;
  padding:8px 20px;
  font-size:20px;
  position:absolute;;
  left:50%;
  transform:translate(-50%);
  bottom:280px;
}

button:active{
  background-color: yellow;
  color:#cfe1ff;
}

.project-title {
  font-size:30pt;
  display: flex;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.thumbnails a {
  width: 30%;
  margin: 0px;
  padding: 30px;
  text-decoration: none;
  color: black;
}

.thumbnails a:nth-last-child(-n + 4) {
  padding-bottom: 0 !important;
}


.menu a{
  text-decoration:none;
  font-size:30pt;
  color:#000;
}

.menu li{
  list-style-type:none;
  margin-bottom:10px;
}

.back{
  font-family:monospace;
  position:fixed;
  top:12%;
  left:50%;
}

.textpost{
  position:fixed;
  top:5px;
  width:30%;
  font-family:monospace;
}

.textpost h1{
  font-size:20px;
}

.imagePiece{
  position:absolute;
  top:15%
}

a{
  color: #000;
}

a:visited{
  color: #000;
}
a:hover{
  color: #ff8000;
}
a:active{
  color: #0059ff;
}

iframe{
  position: absolute;
  left:20%;
  top:16%;
  width:60%;
}
